<footer class="navbar-bottom">
  <div class="container-fluid">
    <div class="row" style="width: 85%;margin: 0 auto;">
    
      <div class="col-sm-6 col-md-6" style="padding: 0px 0px;">
        <h4 style="font-family:pillgothic;"> Navigation </h4>
        <ul style="list-style: none;">
          <li style="margin-bottom:10px;"><a href="/homepage" style="color: #fff;"><i class="fa fa-home fa-lg"></i>HOME</li></a>
          <li style="margin-bottom:10px;"><a href="/lifeinsurance" style="color: #fff;"><i class="fa fa-child fa-lg"></i>LIFE</a></li>
          <li style="margin-bottom:10px;"><a href="/healthinsurance" style="color: #fff;"><i class="fa fa-heart fa-lg" aria-hidden="true"></i>HEALTH</a></li>
          <li style="margin-bottom:10px;"><a href="/travelinsurance" style="color: #fff;"><i class="fa fa-plane fa-lg" aria-hidden="true"></i>TRAVEL</a></li>
          <li style="margin-bottom:10px;"><a href="/homeauto" style="color: #fff;"><i class="fa fa-home fa-lg" aria-hidden="true"></i>HOME AND AUTO
          </a></li>

        </ul>
      </div>

      <!--<div class="col-sm-4 col-md-4" style="padding: 0px 0px;">
        <h4 style="font-family:pillgothic;"> Header 2 </h4>
        <ul style="list-style: none;">
          <li style="text-align: left;"> <i class="fa fa-caret-right" aria-hidden="true"></i>Lorem Ips um </li>
          <li style="text-align: left;"> <i class="fa fa-caret-right" aria-hidden="true"></i>Lorem Ips um </li>
          <li style="text-align: left;"> <i class="fa fa-caret-right" aria-hidden="true"></i>Lorem Ips um </li>
          <li style="text-align: left;"> <i class="fa fa-caret-right" aria-hidden="true"></i>Lorem Ips um </li>
          <li style="text-align: left;"> <i class="fa fa-caret-right" aria-hidden="true"></i>Lorem Ips um </li>
          <li style="text-align: left;"> <i class="fa fa-caret-right" aria-hidden="true"></i>Lorem Ips um </li>

        </ul>
      </div>-->

      <div class="col-sm-6 col-md-6" style="padding: 0px 0px;">
        <h4 style="font-family:pillgothic;"> Cotanct Us </h4>
        <ul style="list-style: none;">
          <li style="text-align: left;"> <a href="#"> <i class="fa fa-facebook-square" aria-hidden="true" style="color: #fff;font-size: 30px;"></i><span style="color:#fff;">facebook account</span></a></li><br>
          <li style="text-align: left;"> <a href="#"> <i class="fa fa-phone-square" aria-hidden="true" style="color: #fff;font-size: 30px;"></i><span style="color:#fff;">phone</span></a></li>
          
        </ul>
      </div>

    </div>

    

  </div>
  <div class="container-fluid" style="background: #2B2B2B;">
  <div class="row" style="background: #2B2B2B;width: 85%;margin: 0 auto;">
    <div class="col-md-12" style="padding: 0px 0px;">
      <h5 style="text-align: center;">Copyright<i class="fa fa-at" aria-hidden="true"></i> 2016</h5>
    </div>
  </div>
  </div>
</footer>