<div class="main" id="header-logo">

  <nav class="navbar navbar-default" id="navigation" style="padding:0px 0px;border: 0px solid red;">

    <div class="container-fluid">

      <div class="row">

        <div class="col-sm-12 col-md-12 col-lg-12 container-fluid" style="padding:0px 0px;">

          <div class="row">

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-6" style="">

              <a class="logo" href="/" id="logo_b"><img src="assets/img/version6_white_mobile.jpg" alt="Alberta Broker"></a>
 
              <a class="logo" href="" id="logo_a"><img style="" src="assets/img/my_alberta_ broker_v2.jpg" alt="Alberta Broker"></a>
              <!-- <div class="socialmedia-icons">
                <a class="contacts" href=""> <i class="fa fa-facebook-square" aria-hidden="true" style="color: #fff;"></i> </a>
                <a class="contacts" href="tel:+15875769663"> <i class="fa fa-phone-square" aria-hidden="true" style="color: #fff;"></i> </a>
                <a href="mailto:" class="contacts"> <i class="fa fa-envelope-square" aria-hidden="true" style="color: #fff;"></i> </a>

              </div> -->

            </div>

            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6" style="padding:0px 0px;">

              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1" aria-expanded="false" id="mobile-menu">
                  <span class="icon-bar" style="background: #fff;"></span>
                  <span class="icon-bar" style="background: #fff;"></span>
                  <span class="icon-bar" style="background: #fff;"></span>
                </button>
              </div>

              <div class="collapse navbar-collapse" id="navcol-1">

                
                <ul class="nav navbar-nav" id="nav-list">
                  <li><a href="/lifeinsurance"><i class="fa fa-child fa-lg"></i>LIFE</a></li>
                  <li><a href="/healthinsurance"><i class="fa fa-heart fa-lg" aria-hidden="true"></i>HEALTH</a></li>
                  <li><a href="/travelinsurance"><i class="fa fa-plane fa-lg" aria-hidden="true"></i>TRAVEL</a></li>
                  <li><a href="/homeauto"><i class="fa fa-home fa-lg" aria-hidden="true"></i>HOME AND AUTO
                  </a></li>
                  <!--<li><a href="#homeauto"><i class="fa fa-question fa-lg" aria-hidden="true"></i>ABOUT US</a></li>-->
                </ul>

                <!--<ol class="nav navbar-nav" id="nav-list">
                  <li><a href="/lifeinsurance"><i class="fa fa-child fa-lg"></i>LIFE</a></li>
                  <li><a href="/healthinsurance"><i class="fa fa-heart fa-lg" aria-hidden="true"></i>HEALTH</a></li>
                  <li><a href="/travelinsurance"><i class="fa fa-plane fa-lg" aria-hidden="true"></i>TRAVEL</a></li>
                  <li><a href="/homeauto"><i class="fa fa-home fa-lg" aria-hidden="true"></i>HOME AND AUTO
                  </a></li>
                  <li><a href="#homeauto"><i class="fa fa-question fa-lg" aria-hidden="true"></i>ABOUT US</a></li>
                </ol>-->
                

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </nav>

</div>