
<nav class="navbar navbar-default  navbar-fixed-top" id="navigation">

<div class="container">

  <div class="row">

    <div class="col-sm-12 col-md-12 col-lg-12">

      <div class="row">

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-6">

            <a class="logo" href="/homepage" id="logo_b">
                <img src="assets/img/version6_white_mobile.jpg" alt="Alberta Broker" />
            </a>

            <a class="logo" href="/homepage" id="logo_a">
                <img src="assets/img/my_alberta_ broker_v2.jpg" alt="Alberta Broker" />
            </a>

          </div>00

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1" aria-expanded="false" id="mobile-menu">
              <span class="icon-bar" style="background: #fff;"></span>
              <span class="icon-bar" style="background: #fff;"></span>
              <span class="icon-bar" style="background: #fff;"></span>
            </button>
          </div>

          <div class="collapse navbar-collapse" id="navcol-1">

            <ul class="nav navbar-nav" id="nav-list">
              <li><a href="/lifeinsurance"><i class="fa fa-child fa-lg"></i>LIFE</a></li>
              <li><a href="/healthinsurance"><i class="fa fa-heart fa-lg" aria-hidden="true"></i>HEALTH</a></li>
              <li><a href="/travelinsurance"><i class="fa fa-plane fa-lg" aria-hidden="true"></i>TRAVEL</a></li>
              <li><a href="/homeauto"><i class="fa fa-home fa-lg" aria-hidden="true"></i>HOME AND AUTO
              </a></li>

            </ul>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>

</nav>
