<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html>

<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>My Alberta broker</title>

    <meta name="description" content="My Alberta Broker - Life, Health, Travel, Home and Auto Insurance">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="assets/css/fonts.css">
    <link rel="stylesheet" href="assets/css/lessStyle.css">

    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 

    <link rel="stylesheet" href="assets/bootstrap/fonts/font-awesome.min.css">



</head>

<body style="background: #E9EBEE;">
  <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->
    
<% include ./partials/nav %>


<div style="margin-top: 200px;margin-left:0px; margin-right: 0px;text-align:center;">

  <h2 style="color: #000;font-family: Helvetica, Arial, Sans-Serif;">YOUR MESSAGE WAS SENT!</h2>

  <h4 style="color: #000;font-family: Helvetica, Arial, Sans-Serif;">We will be with you shortly.</h4>
</div>



<!-- <% include ./partials/footer %> -->
<div id="footer">
<% include ./partials/footer %>
</div>


<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.validate.min.js"></script>
    
<script src="assets/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>